body {
  background-color:#ececf1;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: #04AA6D ;
  overflow: hidden;
}
.header h1{
  text-align: center;
  font-size: 25px;
  color: #ecfff1;
}
.navbar{
  background-color: #04AA6D ;
  position: absolute;
  height: 200% ;
  width: 12%;
}
.navbar a {
  display: flex;
  flex-direction: column;
  color: #ecfff1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #00ff85;
  color: black;
}
.navbar a.active {
  background-color:  #ecb602 ;
  color: white;
}
.box{
  margin-left: 13%;
  margin-right:1%;
}
#intro{
  text-align:center;
}
